.mainSec {
    background-image: url(https://www.experta.com.ar/blogg/wp-content/uploads/sites/2/2019/04/compu-ideal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.mainSec::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 17, 43);
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.teLe {
    background: -webkit-linear-gradient(rgb(6, 185, 240), #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 1rem;
    font-size: 2.3rem;
    font-weight: bold;
    position: relative;
}

.ofiCi {
    background: -webkit-linear-gradient(rgb(6, 185, 240), #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.mapa {
    margin-top: 10rem;
    text-align: center;
    position: relative;
}

.formu__lario {
    padding: 1rem;
    position: relative;


    h1 {
        text-align: center;
        margin: 1.5rem;
        color: rgb(224, 226, 231);
    }

}