.section__grid {
    background-image: linear-gradient(to left bottom, #445872, #747e93, #a3a6b6, #d1d1da, #ffffff);
}

.preguntas__nosotros {
    margin-bottom: 2rem;
}

.section__nosoTro {
    h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    font-size: 2rem;
    text-align: center;
    padding: 4rem;
}

h2 {
    padding: 1rem;
    font-size: 3rem;
}

.pregunTa {
    font-size: 2rem;
    font-weight: bold;
}

.respuesTa {
    background-color: $colprin;
    color: $colsec;
    font-size: 1.5rem;
    font-weight: normal;
}


.nav__img {
    background-image: url(https://www.3digits.es/wp-content/uploads/2021/01/Seguridad-Informatica-Activa-Y-Pasiva.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    h2 {
        font-size: 3rem;
        text-align: center;
        color: rgb(255, 255, 255);
        position: relative;
    }
}

.nav__nosotros {
    padding: 0;
}

.nav__img::before {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.nav__one {
    margin: 2rem;
    background-color: rgb(169, 189, 197);

    p {
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
    }
}