/* Reparacion */

.section__prin {
    background-image: url(http://zona-pc.com/wp-content/uploads/2015/02/reparacion-mantenimiento-ordenadores-en-murcia1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.section__prin::before {
    content: "";
    position: absolute;
    background-color: rgb(2, 14, 24);
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.section__primerTi {
    position: relative;
    color: white;

    h1 {
        text-align: center;
        font-size: 4rem;
        padding: 2rem;
    }
}

.section__imaMedia {
    padding: 2rem;
    position: relative;
}

.section__conteNido {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    color: white;

    h2 {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    ul {
        font-size: 1.5rem;
        padding: 2rem;
        line-height: 2.5;
        list-style: none;
    }
}

.arti__cle {
    background-image: linear-gradient(to top, #324975, #374764, #435270, #4f5f7c, #5b6b88, #6e7a95, #808aa3, #939ab1, #afb2c4, #cacbd7, #e5e4eb, #ffffff);
    margin-bottom: 0.2rem;
}

h3 {
    margin-top: 1rem;
    text-align: center;
    font-size: 4rem;
    padding: 4rem;
    display: inline-block;
    position: relative;
    color: black;
}

.repa__img {
    margin-top: 10rem;
    position: relative;
}

.section__li {
    padding: 5rem;
    position: relative;
    color: white;

    h4 {
        font-size: 2rem;
        padding: 2rem;
        font-weight: bold;
    }

    ul {
        font-size: 1.8rem;
        padding: 2rem;
        line-height: 1.5;
        list-style: none;
    }
}

.ima__bajo {
    padding: 1rem;
}