/* Reparacion */

.section__prin {
    background-image: url(http://zona-pc.com/wp-content/uploads/2015/02/reparacion-mantenimiento-ordenadores-en-murcia1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.section__prin::before {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.section__primerTi {
    position: relative;
    color: white;

    h1 {
        text-align: center;
        font-size: 4rem;
        padding: 2rem;
    }
}

.section__imaMedia {
    padding: 2rem;
    margin-left: 5rem;
    margin-right: 10rem;
    position: relative;
}

.section__conteNido {
    padding: 1rem;
    margin: 1rem;
    margin-right: 1rem;
    position: relative;
    color: white;

    h2 {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    ul {
        font-size: 1.5rem;
        padding: 2rem;
        line-height: 2.5;
        list-style: none;
    }
}

.arti__cle {
    background-image: linear-gradient(to top, #1f2839, #232d41, #273349, #2b3851, #2f3e59, #424d68, #545d78, #676e88, #8d90a4, #b3b3c1, #d9d8e0, #ffffff);
    margin-bottom: 0.5rem;
}

h3 {
    margin-top: 1rem;
    text-align: center;
    font-size: 4rem;
    padding: 4rem;
    display: inline-block;
    position: relative;
    color: black;
}

.repa__img {
    margin-top: 10rem;
    position: relative;
}

.section__li {
    padding: 5rem;
    position: relative;
    color: white;

    h4 {
        font-size: 2rem;
        padding: 2rem;
        font-weight: bold;
    }

    ul {
        font-size: 1.8rem;
        padding: 2rem;
        line-height: 1.5;
        list-style: none;
    }
}

.ima__bajo {
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 10rem;
}