* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* Por defecto es 100%, 62,5% cambia la base de 16px a 10px */
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "variables";
@import "index";
@import "servicio";
@import "reparacion";
@import "nosotros";
@import "contacto";
@import "error";

